extends ./layout.jade

block body
  div(ng-controller="uvIndexController")
    if user
      | Hello #{user.username}!
    else
      | Hello world!

    div
      input(ng-model="zipCode")
      button(ng-click="getUvIndex()") Get UV Index
      p(ng-if="currentUvIndex !== null") The current UV Index is
        {{currentUvIndex}}
